doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')


        // Devicon
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css')

        



        

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none 
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/Photo.jpg', alt='My Profile Photo')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#Experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#Activity') Activity

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        span.text-custom Junyoung
                        span.text-primary Jeon
                    .subheading.mb-5
                        span.text-black 1315 The Clifton St NW · 20009 · (202) 641-6671 
                        a.text-primary(href='mailto:name@email.com') · young011204@gmail.com
                    p.lead.mb-5
                        span.text-black I am a twenty-two-year-old versatile student with communication skills and a solid foundation in engineering. I have Studied microprocessors, C programming and Electronic Circuits. I am eager to find a position where I can apply my knowledge and skills.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/junyoung-jeon-electronics-20a51830a/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/JeonJunYoung-hub')
                            i.fab.fa-github
                        a.social-icon(href='https://www.instagram.com/young._.young/')
                            i.fab.fa-instagram
                        a.social-icon(href='#!')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#Experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Line tracer project using stm32 microcontroller  
                            .subheading.mb-3 Embedded Systems Engineer
                            p
                                | Designed and integrated hardware components, including motors and infrared sensors, for an STM32-based line tracer robot. Developed motor control and sensor processing using embedded C, ensuring precise movement along the track.
                        .flex-shrink-0
                            span.text-primary March 2024 - June 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Snake Game Development using C++ MFC project
                            .subheading.mb-3 Game Developer
                            p
                                | Created a classic snake game using C++ and MFC, implementing game mechanics, controls, and collision detection. Developed an interactive UI with score tracking while gaining experience in object-oriented and event-driven programming.
                        .flex-shrink-0
                            span.text-primary March 2024 - June 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Republic of Korea Army
                            .subheading.mb-3 Sergeant, Communication Specialist 
                            p
                                | Installed and optimized antennas for military operations, ensuring secure communication. Operated and maintained equipment in field training, applying electronics and telecommunications principles.
                        .flex-shrink-0
                            span.text-primary June 2022 - December 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 FPGA Stopwatch Development using Vivado
                            .subheading.mb-3 FPGA Developer
                            p
                                | Designed and deployed an FPGA-based stopwatch using Xilinx Vivado, optimizing timing logic for precision and efficiency. Enhanced expertise in digital logic design, HDL implementation, and FPGA architecture for advanced embedded systems.
                        .flex-shrink-0
                            span.text-primary September 2021 - December 2021

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 KOREATECH
                            .subheading.mb-3 Bachelor of Electronic Engineering
                            div Electronic Engineering - Semiconductor Track
                            p GPA: 3.02
                        .flex-shrink-0
                            span.text-primary March 2024 - Current  

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 University of Hawai’I West O’ahu
                            .subheading.mb-3 Study Abroad
                            p short-term course, winter session
                        .flex-shrink-0
                            span.text-primary Jan 2022 - Feb 2022

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.devicon-cplusplus-plain.colored(title="C++")
                        li.list-inline-item
                            i.devicon-c-plain.colored(title="C")
                        li.list-inline-item
                            i.devicon-html5-plain.colored(title="HTML")
                        li.list-inline-item
                            img(src='assets/icons/Stm32.jpg', alt='Stm32', title='Stm32', width='50', height='50')
                        li.list-inline-item
                            img(src='assets/icons/Vivado.jpg', alt='Vivado', title='Vivado', width='50', height='50')
                        li.list-inline-item
                            img(src='assets/icons/premiere-pro.jpg', alt='Premiere Pro', title='Premiere Pro', width='50', height='50')
                        li.list-inline-item
                            img(src='assets/icons/Orcad.jpg', alt='Orcad', title='Orcad', width='50', height='50')
                        li.list-inline-item
                            img(src='assets/icons/Excel.jpg', alt='excel', title='excel', width='50', height='50')
                        li.list-inline-item
                            img(src='assets/icons/Powerpoint.jpg', alt='owerpoint', title='owerpoint', width='50', height='50')
                        li.list-inline-item
                            img(src='assets/icons/Solidworks.jpg', alt='oSolidworks', title='Solidworks', width='50', height='50')

                    .subheading.mb-3 Language
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Korean: native speakers
                        li
                            span.fa-li
                                i.fas.fa-check
                            | TOEIC 805 out of 990, OPIC IH Level
                       

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | I have a detail-oriented and meticulous personality, which is why I found CAD PCB Editor particularly interesting as it closely reflects my traits. I aspire to pursue an internship either as a Hardware Engineer or in the field of OrCAD PCB Editor.
                    p.mb-0
                        | While my previous projects may not be directly related, I have experience designing and integrating hardware components, which has strengthened my understanding of electronic systems. Regardless of prior experience, I am highly motivated to learn and dedicate myself to excelling in this field.

            hr.m-0

            // Activity
            section#Activity.resume-section
                .resume-section-content
                    h2.mb-5 Activity
                    div
                    h3.mb-0 Ls Group & Green Umbrella Children’s Foundation
                    div
                    p
                      | Science Instructor, LS Dream Science Class
                    p
                      | Led and instructed elementary school students in a one-month program focused on assembling science kits and explaining key scientific principles. Demonstrated leadership by effectively managing classroom dynamics and maintaining high student engagement. Adapted teaching methods to accommodate diverse learning styles, ensuring a successful and interactive learning experience.

                            
                           
                    

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')